<div class="main-wrapper">

    <img src="../assets/img/Xmas_tree.svg" class="christmas-tree-icon"/>

    <div *ngIf="!loggedIn">
      <mat-form-field class="userSelection">
        <mat-label>Wybierz siebie</mat-label>
        <mat-select #select [(value)]="userSelected" (selectionChange)="changeSelection()">
          <mat-option *ngFor="let person of authPersons" [value]="person.name">
            {{person.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="userPassword">
        <mat-label>Hasło</mat-label>
        <input matInput type="password" [disabled]="passwordInputDisabled" (keyup)="validatePassword($event)">
      </mat-form-field>
    </div>

    <app-user-loggedin *ngIf="loggedIn" [authPerson]="foundPerson"></app-user-loggedin>
</div>
